.ipynb_checkpoints
ps1.ipynb
readings
ps1.pages
ProblemSets
ProblemSetAnswers
.DS_store
~problem_sets/ps6.pdf
~problem_sets/ps7.pdf
~problem_sets/ps8.pdf
~problem_sets/ps9.pdf
~problem_sets/ps10.pdf
~problem_sets/ps11.pdf
~problem_sets/ps12.pdf
~problem_sets/ps13.pdf
~problem_sets/ps1/ps1.pdf
~problem_sets/ps1/ruan_abarbanel_ps1.pdf
~problem_sets/ps2/ps2.pdf
~problem_sets/ps2/ruan_abarbanel_ps2.pdf
~problem_sets/ps2/Screenshot 2025-01-23 at 9.02.35 PM.png
~problem_sets/ps2/Screenshot 2025-01-24 at 6.43.26 AM.png
~problem_sets/ps2/Screenshot 2025-01-24 at 7.07.35 AM.png
~problem_sets/ps2/Screenshot 2025-01-24 at 7.07.42 AM.png
~problem_sets/ps2/Screenshot 2025-01-26 at 7.54.07 PM.png
~problem_sets/ps2/Screenshot 2025-01-26 at 7.54.28 PM.png
~problem_sets/ps2/Screenshot 2025-01-26 at 8.07.15 PM.png
~problem_sets/ps2/Screenshot 2025-01-26 at 8.07.20 PM.png
~problem_sets/ps3/0:209.png
~problem_sets/ps3/60:40.png
~problem_sets/ps3/ps3_ruanabarbanel_answers.pages
~problem_sets/ps3/ps3_ruanabarbanel_answers.pdf
~problem_sets/ps3/ps3.pdf
~problem_sets/ps3/randangles.png
~problem_sets/ps3/randeverything.png
~problem_sets/ps3/randlengths.png
~problem_sets/ps3/Screenshot 2025-02-03 at 12.00.08 AM.png
~problem_sets/ps4/ps4_ruanabarbanel_answers.pages
~problem_sets/ps4/ps4_ruanabarbanel_answers.pdf
~problem_sets/ps4/ps4.pdf
~problem_sets/ps4/plots/Screenshot 2025-02-09 at 9.30.07 PM.png
~problem_sets/ps4/plots/Screenshot 2025-02-09 at 9.35.05 PM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 8.30.38 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 9.18.36 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 9.24.57 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 9.25.13 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.03.29 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.06.04 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.08.16 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.23.10 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.53.47 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.54.00 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.54.24 AM.png
~problem_sets/ps4/plots/Screenshot 2025-02-10 at 11.54.31 AM.png
~problem_sets/ps5/ps5_answers.pages
~problem_sets/ps5/ps5_answers.pdf
~problem_sets/ps5/ps5.pdf
~problem_sets/ps5/plots/2a)lorenzadaptive1.png
~problem_sets/ps5/plots/2b)adaptivevsnot.png
~problem_sets/ps5/plots/3)rosslerprojection.png
~problem_sets/ps5/plots/4)artifacting.png
~problem_sets/ps5/plots/4)fallenapart.png
~readings/~Dynamics and Chaos Strogatz.pdf
~readings/~Time-Series Analysis Kantz.pdf
~readings/Citation.txt
~readings/LizODEnotes.pdf
~readings/LizTSAnotes.pdf
